<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Username-replicated</title>
<style>
    p{
        margin: 150px;
    }
    body{
    background:url(/static/wrong_icon/wrong.png) no-repeat;
    background-size: auto;
        }
    .button{
        margin-left: 1000px;
        padding: 30px;
    }
</style>
</head>
<body>
<!-- 代码 开始 -->
<div id="container">
    <p calss='text' align="right" style="font-size: 50px">Username or Password is error,please click the button below</p>
    <p calss='text' align="center" style="font-size: 50px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to try again! </p>
    <a href="{{url_for('login')}}"><button class="button" style="background-color: #00abf0;align-self: center;font-size: 40px">返回重新登录</button></a>
</div>
</body>
</html>