<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Username-replicated</title>
<style>
    p{
        margin: 250px;
    }
    body{
    background:url(/static/replicate_icon/replicate.png) no-repeat;
    background-size: auto;
        }
    .button{
        margin-left: 1000px;
        padding: 30px;
    }
</style>
</head>
<body>
<!-- 代码 开始 -->
<div id="container">
    <p calss='text' align="right" style="font-size: 50px">该用户名已经被使用，请更换并点击下面按钮重新尝试！</a> </p>
    <a href="{{url_for('registration')}}"><button class="button" style="background-color: #00abf0;align-self: center;font-size: 40px">返回重新注册</button></a>
</div>
</body>
</html>